<!-- addblog.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h2>Add Blog</h2>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <form method="POST" action="{% url 'add_blog' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" class="form-control"><br><br>

        <label> Banner Image</label><br>
        <input type = "file" id= "blog_banner" name='blog_banner'></input><br><br>   
        
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" class="form-control"></textarea><br><br>
        
        <label>Choose Category:</label><br>
        <select id="category" name="category" class="form-control">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select><br><br>
        
        <label for="status">Select Status :</label><br>
        <select id="status" name="status" class="form-control">
            <option value="savedraft">Save Draft</option>
            <option value="publish">Publish</option>
        </select><br><br>


        <label for="author_name">Author Name</label>

   <select id="author_name" name="author_name">

    {% for authorname in authors  %}
  <option value="{{authorname.id}}">{{ authorname.author_name }}</option>
  {% endfor %}
       </select><br><br><br>
        
        <button type="submit" class="btn btn-primary">Post Blog</button>
    </form>
</body>
</html>

