<!-- post_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>
    
    <h4>{{post.id}} : {{ post.title }}</h4>
    <P> {{post.author_name}}, {{post.created_at}}, {{post.category}}</p>
    <p>{{post.content}}</p>
    <p>Status : {{post.status}}</p>
    
    
</body>
</html>

<br><br>
<h3>Comments</h3>
    {% if comments %}
        <ul>
            {% for comment in comments %}
            <p>Name : {{ comment.name }}</p>
            <p>Email : {{ comment.email }}</p>
            <p>Message : {{ comment.message }}</p>
                
                
            {% endfor %}
        </ul>

    {% else %}
        <p>No comments yet.</p>
    {% endif %}<br>

    <a href="{% url 'add_blog' %}">Add New Blog</a><br><br>
    <a href="{% url 'post_list' %}">Blog List</a>


    <h3>Add a Comment</h3>
    <form method="post">
        {% csrf_token %}
        <label for="id_name">Name:</label>
        <input type="text" id="id_name" name="name"><br>
        <label for="id_email">Email:</label>
        <input type="email" id="id_email" name="email"><br>
        <label for="id_message">Message:</label><br>
        <textarea id="id_message" name="message" rows="4" cols="50"></textarea><br>
      <button type="submit" class="btn btn-primary">Post A Comment</button>

</form>

